
@{
    ViewBag.Title = "AddClient";
}

<h2>AddClient</h2>

<div class="content-page">
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <h4 class="header-title m-t-0 m-b-30">Add a new client</h4>
                        <p class="text-muted font-13 m-b-25">
                            Here you will be entering the data for the new client. Please fill the form with the required information.
                        </p>

                        <div class="table-responsive">
                            <div >
                                <hr />
                                <textarea name="cfname" placeholder="First Name" class=""></textarea>
                                <br />
                                <br />
                                <textarea name="clastname" placeholder="Last Name" class=""></textarea>
                                <br />
                                <br />
                                <textarea name="cnum" placeholder="Phone" class=""></textarea>
                                <br />
                                <br />
                                <textarea name="cemail" placeholder="Email" class=""></textarea>
                                <br />
                                <br />
                                <textarea name="cAddress" placeholder="Address" class=""></textarea>
                                <br />
                                <br />
                                <textarea name="cProject" placeholder="Project" class=""></textarea>
                                <br />

                                <br />

                                <br />


                                <br />


                                <button title="Submit" class="fc-button" style="height:40px; width:120px"></button>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->
    </div>
</div>