
@{
    ViewBag.Title = "Index";
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <h1>Welcome to the Index Page</h1>
        </div>
        <br />
        <br />
        <button class="fc-button" title="button" name="but11" value="Button" style="width:120px; height:40px"></button>
    </div>
</div>

